<!DOCTYPE html>
<html>
<head>
	<title>login page</title>
	<link rel="stylesheet" type="text/css" href="login1.css">
</head>
<body onload="exist()">
	<script type="text/javascript">
		function exist()
		{
			alert('username already exist');
		}

	</script>
	<form action="/login" method="post">
		<div class="container">
			
			<div id="sign">
				SIGNUP
			</div>
			
			<div class="signup"> 
				<p id="user">Username</p>
				<input type="text" name="name" placeholder="username" required>
				<p id="phone" >Phone Number</p>
				<input type="text" pattern="[0-9]{10}" name="phone" id="inputphone" placeholder="phone number"  required="" >
				<p id="pass">Password</p>
				<input type="password" name="pass" placeholder="password" required>
				<input type="submit" name="submit">
			</div>
			
			<div class="signin">
					
			</div>

		</div>
	</form>

	
</body>
</html>