<!DOCTYPE html>
<html>
<head>
	<title>login page</title>
	<link rel="stylesheet" type="text/css" href="login1.css">
</head>
<body onload="wrong()">
	<script type="text/javascript">
		function wrong()
		{	
			alert('incorrect username or password');
		}
	</script>
	<form action="/doctorsignin" method="post">
		<div class="container">
			
			<div id="sign">
					SIGNIN
			</div>
			
			<div class="signup"> 
				<p id="user">Username</p>
				<input type="text" name="name" placeholder="username" required>
				<p id="pass">Password</p>
				<input type="password" name="pass" placeholder="password" required>
				<input type="submit" name="submit">
				<br><br>
				want to register? <a href="/docsignup"> signup</a> 
			</div>
			
			<div class="signin">
					
			</div>

		</div>
	</form>

	
</body>
</html>