/**
{
	  background:#84ceeb;
}*/

.head
{
  height: 25%;
  color: #494d5f;
  /*padding-right:15%; */
  text-align: center;
}

.notbody
{
  background:#a0d2eb;
  color: #e5eaf5;
  border:2px;
  padding-top: 1%;
  padding-left: 18%;
  padding-bottom: 2%;
  padding-right: 15%;
}

.form
 {
    border:2px;
  	margin:auto;
  	width: 55%;
  	border-radius: 15px;
    background-color: #494d5f;
    padding:15px;
}

.registrationForm
{
	padding-left: 1.5em;
}

table,tr,td
{
	padding-top:5px; 
}

.select
{
	background-color: white;
	padding: 0.5em;
	margin-top:23px;
	border-radius: 10px;
}

input[type="text"],[type="password"],[type="email"],[type="number"]
  {
  		background-color: white;
		border-radius: 4px;
		border: 0; 
		display: inline-block;
		/*font-weight: 700;*/
		margin-top: 22px;
		height: 2.4em;
		line-height: 2.95em;
		padding: 0 1.8em;
		width: 180%;
		/*text-align: center;*/
		text-decoration: none;
		border: 1px solid green;
	  border-radius: 14px;
  	  box-sizing: border-box;
		/*white-space: nowrap;*/
	}



/*button*/
/* Button */

.button
{
	margin-left: 10%;
}

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background: #19B5FE;
		color: #FFF;
		border-radius: 4px;
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-weight: 700;
		height: 2.85em;
		line-height: 2.95em;
		padding: 0 1em;
		margin-top: 25px;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
	}
		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			transition: 0.8s;
			color: black;
			background: white;
		}

			input[type="submit"].alt:hover,
			input[type="reset"].alt:hover,
			input[type="button"].alt:hover,
			button.alt:hover,
			.button.alt:hover {
				background: rgba(144, 144, 144, 0.075);
				box-shadow: 0 0 0 2px rgba(144, 144, 144, 0.25);
			}

		@media screen and (max-width: 480px) {

			input[type="submit"],
			input[type="reset"],
			input[type="button"],
			button,
			.button {
				padding: 0;
			}

		}
/*button*/
/*footer*/
#footer
{
  background-color: white;
  height: 25%;
  border: 1px solid;
  text-align: center;
  background: #f2f2f2;
  padding-top: 1%;
}
#footer a
{
  background-color: #f2f2f2;
}

  #footer .copyright
  {
  	background-color: #f2f2f2;
    color: #000000;
    font-size: 0.9em;
    margin: 0 0 2em 0;
    padding: 0 1em;
    text-align: center;
  }

  @media screen and (max-width: 736px) {

    #footer {
      padding: 3em 0 1em 0;
    }

  }
